.name {
  font-weight: 600;
}

p {
  margin: 0;
  cursor: pointer;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4.375rem;
  width: 4.375rem;
  border-radius: 50%;
  box-shadow: 0.125rem 0.1875rem var(--card-detail-evolutionShadow);
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
}
img:hover {
  opacity: 1;
}
