<div class="about">
  <app-navbar></app-navbar>
  <h2>This is a beta version</h2>
  <div class="containerText">
    <p>
      An
      <a href="https://github.com/swtnicolas/pokedex" target="_blank"
        >Open source</a
      >
      site created by:
      <br />
      <a href="https://swtnicolas.github.io/" target="_blank"
        >Nicolás Rodríguez Salazar</a
      >
      <br />
      The data was obtained from the
      <a href="https://pokeapi.co/" target="_blank">Pokéapi</a> service.
    </p>

    <p>
      There are problems with maintaining the paging position when returning
      from the view of a Pokemon, it will soon be fixed...
    </p>

    <p>
      The site was built in Angular v.11.0.5. The layout was done with CSS GRID,
      under the philosophy Mobile First Design for better navigation on mobile
      devices. Angular Material was used for the pagination.
    </p>

    <p>
      Finally, I take advantage of this space just to leave this YouTube
      <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">link</a> which has
      nothing to do with this little project &nbsp; :D
    </p>
  </div>
  <app-footer></app-footer>
</div>
