<div class="about">
  <app-navbar></app-navbar>
  <h2 class="animatedFast fadeIn">Sobre Pokédex</h2>
  <div class="containerText animatedFast fadeIn">
    <p>
      Este es un sitio de
      <a href="https://github.com/swtnicolas/pokedex" target="_blank"
        >código abierto</a
      >
      creado por:
      <br />
      <a href="https://swtnicolas.github.io/" target="_blank"
        >Nicolás Rodríguez Salazar</a
      >
      <br />
      Todos los datos relacionados con Pokémon fueron obtenidos del servicio de
      la
      <a href="https://pokeapi.co/" target="_blank">PokéApi</a>.
    </p>

    <p>
      Este sitio fue diseñado con Angular v.11.0.5. La maquetación se realizó
      con CSS GRID, bajo la filosofía Mobile First Design para una mejor
      navegación en dispositivos móviles. Uso de Angular Material para
      paginación y autocompletado.
    </p>

    <p>
      Aprovecho este espacio para dejar un
      <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">enlace</a>
      de YouTube que no tiene relación alguna con este proyecto&nbsp; :D
    </p>
  </div>
  <app-footer></app-footer>
</div>
