<div class="about">
  <app-navbar></app-navbar>
  <h2 class="animatedFast fadeIn">Información del sitio</h2>
  <div class="containerText animatedFast fadeIn">
    <p>
      Un sitio de
      <a href="https://github.com/swtnicolas/pokedex" target="_blank"
        >código abierto</a
      >
      creado por
      <br />
      <a href="https://swtnicolas.github.io/" target="_blank"
        >Nicolás Rodríguez Salazar</a
      >
      con fines de aprendizaje personal.
      <br />
      Todos los datos relacionados con Pokémon fueron obtenidos del servicio de
      la
      <a href="https://pokeapi.co/" target="_blank">PokéApi</a>, por ello no
      todos los datos están en español.
      <br />
      <br />
      Construido con <i>Angular v.11.0.5</i> y maquetado con <i>SCSS GRID</i>,
      con diseño responsivo bajo la filosofía <i>Mobile First Design</i> para
      una mejor navegación en dispositivos móviles.
      <br />
      <br />
      Uso de <i>Angular Material</i> para los componentes de paginación,
      autocompletar (con destacador) y pantalla de carga. La lista y posición de
      página se almacenan en <i>SessionStorage</i> de forma temporal con el fin
      de minimizar las peticiones al servidor.
      <br />
      <br />
      Sobre el manejo de JSON y detalles de cada Pokémon:
      <br />
      Tipos elementales, estadísticas base, géneros de la especie, descripción
      en español en caso de estar disponible, habilidades, a que generación
      pertenece, la tasa de captura, información en caso de ser bebé, mítico o
      legendario, y por último el árbol evolutivo de la especie (aplicando
      recursividad para la estructura tipo árbol del JSON)

      <br />
      <br />
      Finalmente aprovecho este espacio para dejar un
      <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">enlace</a>
      de YouTube que no tiene relación alguna con este proyecto&nbsp; :D
    </p>
  </div>
  <app-footer></app-footer>
</div>
