.about {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 20px 0 10px 0;
}

.containerText {
  margin: 15px 20px;
  line-height: 1.6;
}

p {
  text-align: center;
  font-size: 15px;
}

a:link {
  color: #0000ff;
  text-decoration: none;
}

a:visited {
  color: #9a5dfc;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #0000ff;
}

@media only screen and (min-width: 576px) {
  .containerText {
    margin: 15px 60px;
  }
}

@media only screen and (min-width: 1024px) {
  .containerText {
    margin: 15px 140px;
  }
}
