$predominante: #b12626;
$titulo: #ffffff;

footer {
  background-color: $predominante;
  padding: 1rem 0.625rem;
}

.text {
  color: $titulo;
  text-align: center;
  margin: 0;
  font-size: 0.875rem;
}
