<nav id="mySidenav" class="sidenav">
  <a class="sidenav-closebtn" (click)="closeNav()"> &times; </a>
  <ul>
    <li routerLinkActive="active" (click)="closeNav()">
      <a class="sidenav-a" [routerLink]="['/inicio']">Inicio</a>
    </li>
    <li routerLinkActive="active" (click)="closeNav()">
      <a class="sidenav-a" [routerLink]="['/pokemones']">Pokémones</a>
    </li>
    <li routerLinkActive="active" (click)="closeNav()">
      <a class="sidenav-a" [routerLink]="['/sobre-pokedex']"
        >Sobre&nbsp;Pokédex</a
      >
    </li>
  </ul>
</nav>
<header>
  <i style="cursor: pointer" class="fas fa-bars" (click)="openNav()"></i>
  <img id="logo-img" src="assets/img/pokedex-logo.png" alt="Logotipo" />
  <h1 id="logo-title">PokéDex</h1>
</header>
