$predominante: #b12626;
$predominante2: #a12626;
$titulo: #ffffff;
$hover: #979797;

header {
  z-index: 5;
  display: grid;
  grid-template-columns: 2.9rem 2.5rem 1fr;
  background-color: $predominante;
  #logo {
    &-title {
      padding: 0.7rem;
      margin: 0;
      font-family: Pocket-Monk;
      font-size: 1.8125rem;
      font-weight: 100;
      color: $titulo;
    }
    &-img {
      width: 2.1875rem;
      padding: 0.25rem 0;
      margin-left: 8px;
    }
  }
  .fa-bars {
    padding: 0.2rem 0;
    text-align: right;
    color: $titulo;
    font-size: 2rem;
    margin-right: 5px;
    cursor: pointer;
    &:hover {
      color: $hover;
    }
  }
}

.sidenav1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: $predominante;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.2s;
  &-closebtn {
    color: $titulo;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 40px;
    cursor: pointer;
  }
  &-closebtn:hover {
    color: $hover;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 35px 0px 35px 0px;
    }
  }
  &-a {
    padding: 10px 130px 10px 25px;
    font-size: 20px;
    text-decoration: none;
    outline: none;
    color: $titulo;
    font-weight: 200;
    &:hover {
      color: $hover !important;
      background-color: $predominante2;
      font-weight: 400;
    }
  }
}

.sidenav2 {
  display: none;
}

.active .sidenav1-a {
  color: $titulo;
  font-weight: 600;
}

@media only screen and (min-width: 1360px) {
  header {
    grid-template-columns: 2.5rem 8rem 1fr;
    .fa-bars {
      display: none;
    }
    margin: 0;
    padding: 0;
  }

  .sidenav1 {
    display: none;
  }

  .sidenav2 {
    display: block;
    width: 100%;
    height: 98%;
    z-index: 10;
    background-color: $predominante;
    overflow-x: hidden;
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 100%;
      li {
        text-align: center;
      }
    }
    &-a {
      display: block;
      width: 10rem;
      height: 100%;
      padding: 0.7rem 0;
      font-size: 20px;
      text-decoration: none;
      color: $titulo;
      font-weight: 400;
      &:hover {
        color: $hover !important;
        background-color: $predominante2;
        font-weight: 500;
      }
    }
  }

  .active .sidenav2-a {
    color: $titulo;
    font-weight: 600;
  }
}
