<header>
  <i class="fas fa-bars" (click)="openNav()"></i>
  <img id="logo-img" src="assets/img/pokedex-logo.png" alt="Logotipo" />
  <p id="logo-title">PokéDex</p>
  <nav>
    <div id="mySidenav1" class="sidenav1">
      <a class="sidenav1-closebtn" (click)="closeNav()"> &times; </a>
      <ul>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="sidenav1-a" [routerLink]="['']">Inicio</a>
        </li>
        <li routerLinkActive="active">
          <a class="sidenav1-a" [routerLink]="['/pokemones']">Pokémones</a>
        </li>
        <li routerLinkActive="active">
          <a class="sidenav1-a" [routerLink]="['/sobre-pokedex']"
            >Sobre&nbsp;Pokédex</a
          >
        </li>
        <li>
          <mat-slide-toggle
            class="sidenav1-darkMode"
            color="warn"
            [checked]="darkMode"
            (click)="toggleTheme()"
          >
            Modo Oscuro
          </mat-slide-toggle>
        </li>
      </ul>
    </div>
    <div class="sidenav2">
      <ul>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="sidenav2-a" [routerLink]="['']">Inicio</a>
        </li>
        <li routerLinkActive="active">
          <a class="sidenav2-a" [routerLink]="['/pokemones']">Pokémones</a>
        </li>
        <li routerLinkActive="active">
          <a class="sidenav2-a" [routerLink]="['/sobre-pokedex']"
            >Sobre&nbsp;Pokédex</a
          >
        </li>
        <li>
          <mat-slide-toggle
            class="sidenav2-darkMode"
            color="warn"
            [checked]="darkMode"
            (click)="toggleTheme()"
          >
            Modo Oscuro
          </mat-slide-toggle>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- <a
aria-label="Angular on twitter"
title="Dark theme"
(click)="toggleTheme()"
>
DARK
</a> -->
