$predominante: #b12626;
$texto: #ffffff;
$hover2: #d61e1e;

.home {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-family: Pocket-Monk;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  margin: 10px 25px;
  line-height: 1.1;
}

img {
  width: 215px;
  height: 215px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 15px;
  display: block;
  color: $texto;
  background-color: $predominante;
  border-radius: 10%;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: $hover2;
}

p {
  font-size: 15px;
  text-align: center;
  margin: 0 20px 20px;
}

@media only screen and (min-width: 576px) {
  h1 {
    font-size: 50px;
    margin: 25px;
  }

  img {
    width: 285px;
    height: 285px;
  }

  button {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 12px;
    font-size: 20px;
  }

  p {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 65px;
    margin: 40px 0 40px 0;
  }

  img {
    width: 350px;
    height: 350px;
  }

  button {
    margin-top: 70px;
    margin-bottom: 40px;
    padding: 14px;
    font-size: 20px;
  }

  p {
    font-size: 22px;
    margin-bottom: 50px;
  }
}
