<div class="home">
  <app-navbar></app-navbar>
  <section class="animatedFast fadeIn">
    <h2>Pokédex</h2>
    <img
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/shiny/female/25.gif"
      alt="Pikachu.gif"
    />
    <button [routerLink]="['/pokemones']">Ir a la Pokédex</button>
    <p *ngIf="this.limit > 0">
      Actualmente el sitio contiene:
      <strong>¡{{ this.limit }} Pokémones!</strong>
    </p>
    <p>Si llegasen a existir nuevos, se añadirán de forma automática</p>
  </section>
  <app-footer></app-footer>
</div>
