<div class="home">
  <app-navbar></app-navbar>
  <section class="animatedFast fadeIn">
    <h2>Pokédex</h2>
    <img
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/shiny/female/25.gif"
      alt="Pikachu.gif"
    />
    <button *ngIf="this.limit > 0" [routerLink]="['/pokemones']">
      Ir a la Pokédex
    </button>
    <ng-container *ngIf="this.limit > 0; else noData">
      <p>
        Actualmente el sitio contiene:
        <strong>¡{{ this.limit }} Pokémones!</strong>
        <br /><br />
        Si llegasen a existir nuevos, se añadirán de forma automática
      </p>
    </ng-container>
    <ng-template #noData>
      <br /><br />
      <p>Ha ocurrido un error con el servicio de PokeApi</p>
    </ng-template>
  </section>
  <app-footer></app-footer>
</div>
