.pokemons {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background-color: var(--background);
}

#app {
  &-navbar {
    z-index: 20;
  }
  &-footer {
    z-index: 20;
  }
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.1875rem;
  margin: 0 0.125rem;
}

.bgLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text);
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  min-width: 100%;
  min-height: 100%;
  &-text {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    margin-top: 0.9375rem;
  }
}

form {
  z-index: 5;
  position: sticky;
  top: 0;
  grid-column: 1/4;

  input[type="text"] {
    color: var(--text);
    width: 100%;
    padding: 0.5rem 5.5rem;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--background);
    border: none;
    border-bottom: 0.125rem solid var(--search);
    outline: none;
    font-weight: 700;
    font-size: 0.9375rem;
    transition: border 0.2s;
  }

  input[type="text"]:focus {
    border-bottom: 0.125rem solid var(--primary);
  }

  .fa-backspace {
    position: absolute;
    padding: 0;
    right: 3rem;
    font-size: 1.625rem;
    color: var(--search-delete);
    margin: 0.1875rem;
    cursor: pointer;
    transition: color 0.2s;
  }

  .fa-backspace:hover {
    color: var(--primary-hover);
  }

  .fa-search {
    position: absolute;
    padding: 0;
    right: 0.625rem;
    font-size: 1.625rem;
    color: var(--search);
    margin: 0.1875rem;
    cursor: pointer;
    transition: color 0.2s;
  }

  .fa-search:hover {
    color: var(--search-hover);
  }
}

.cards {
  background: var(--primary);
  background: linear-gradient(180deg, var(--background) 34%, var(--card) 100%);
  padding: 0 0 0.625rem 0;
  border-radius: 5%;

  &-content {
    font-weight: 100;
    text-align: center;

    &-id {
      color: var(--text);
      margin: 0;
      padding: 0;
      font-size: 0.875rem;
      font-weight: 500;
    }

    &-name {
      color: var(--text);
      margin: 0;
      padding: 0;
      font-size: 1.1875rem;
      font-weight: 300;
      font-family: Pocket-Monk;
    }
  }

  &-img {
    display: block;
    width: 6rem;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 0.125rem 0.3125rem #00000028;
    background: var(--primary);
    background: linear-gradient(180deg, var(--background) 15%, var(--card) 80%);
    cursor: pointer;
    transition: 0.2s;
  }
  &-img:hover {
    width: 5.375rem;
    height: 5.375rem;
  }
}

.paginator {
  grid-column: 1/4;
  margin-top: 1.25rem;
}

.nopokemon {
  color: var(--text);
  grid-column: 1/4;
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 500;
  background-color: var(--search-noResults);
  margin: 0;
  padding: 0.25rem 0;
  border-radius: 5px;
  p {
    margin: 0;
    padding: 0.3125rem;
  }
}

.yespokemon {
  color: var(--text);
  grid-column: 1/4;
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 500;
  background-color: var(--search-yesResults);
  margin: 0;
  padding: 0.25rem 0;
  border-radius: 5px;
  p {
    margin: 0;
    padding: 0.3125rem;
  }
}

@media only screen and (min-width: 576px) {
  section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  form {
    grid-column: 1/5;
  }
  .paginator {
    grid-column: 1/5;
  }
  .nopokemon {
    grid-column: 1/5;
  }
  .yespokemon {
    grid-column: 1/5;
  }
}

@media only screen and (min-width: 768px) {
  section {
    grid-template-columns: repeat(5, 1fr);
  }
  form {
    grid-column: 1/6;
  }
  .paginator {
    grid-column: 1/6;
  }
  .nopokemon {
    grid-column: 1/6;
  }
  .yespokemon {
    grid-column: 1/6;
  }
}

@media only screen and (min-width: 992px) {
  section {
    grid-template-columns: repeat(6, 1fr);
  }
  form {
    grid-column: 1/7;
  }
  .paginator {
    grid-column: 1/7;
  }
  .nopokemon {
    grid-column: 1/7;
  }
  .yespokemon {
    grid-column: 1/7;
  }
}

@media only screen and (min-width: 1360px) {
  app-navbar {
    padding: 0 56px;
    background-color: var(--primary);
  }
  section {
    grid-template-columns: repeat(10, 1fr);
  }
  form {
    grid-column: 1/11;
  }
  .paginator {
    grid-column: 1/11;
  }
  .nopokemon {
    grid-column: 1/11;
  }
  .yespokemon {
    grid-column: 1/11;
  }
}

@media only screen and (min-width: 1900px) {
  app-navbar {
    padding: 0 120px;
  }
  section {
    grid-template-columns: repeat(12, 1fr);
    margin: 0 120px;
  }

  form {
    grid-column: 1/13;
  }

  .paginator {
    grid-column: 1/13;
  }
  .nopokemon {
    grid-column: 1/13;
  }
  .yespokemon {
    grid-column: 1/13;
  }
}
