<section class="section animatedFast fadeIn">
  <h1>Datos de todos los Pokemones</h1>
  <img src="assets/img/25.gif" alt="Pikachu.gif" />
  <button *ngIf="this.totalPokemons > 0" [routerLink]="['/pokemones']">
    Ir a la Pokédex
  </button>
  <div *ngIf="this.error.status === false && this.totalPokemons > 0">
    <p>
      Actualmente el sitio contiene:
      <strong>¡{{ this.totalPokemons }} Pokémones!</strong>
    </p>
  </div>
  <div *ngIf="this.error.status === true">
    <p>
      <strong>{{ this.error.message }}</strong>
    </p>
  </div>
</section>
