h1 {
  font-family: Pocket-Monk;
  color: var(--text);
  font-weight: 100;
  font-size: 38px;
  text-align: center;
  margin: 10px 25px;
  line-height: 1.1;
}

img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 15px;
  display: block;
  color: var(--title);
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: var(--primary-hover);
}

p {
  color: var(--text);
  font-size: 15px;
  text-align: center;
  margin: 16px 20px 19px;
}

@media only screen and (min-width: 576px) {
  h1 {
    font-size: 50px;
    margin: 25px;
  }

  img {
    width: 285px;
    height: 285px;
  }

  button {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 12px;
    font-size: 20px;
  }

  p {
    font-size: 20px;
    margin: 35px 20px 20px;
  }
}
@media only screen and (min-width: 1360px) {
  app-navbar {
    padding: 0 56px;
    background-color: var(--primary);
  }
  p {
    font-size: 20px;
    margin: 50px 20px 20px;
  }
}
@media only screen and (min-width: 1900px) {
  app-navbar {
    padding: 0 120px;
  }
  h1 {
    font-size: 65px;
    margin: 40px 0 40px 0;
  }

  img {
    width: 350px;
    height: 350px;
  }

  button {
    margin-top: 70px;
    margin-bottom: 40px;
    padding: 14px;
    font-size: 20px;
  }

  p {
    font-size: 22px;
  }
}
