$titulo: #ffffff;
$hover: #979797;

$font320: 14px;
$font576: 17px;
$font768: 19px;

section {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
}

.loading {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.backGr {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("^./assets/img/bg-card-top.svg"),
    url("^./assets/img/bg-card-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 45vh, left 50vw top 56vh;
}
.fa-chevron-left {
  position: fixed;
  z-index: 10;
  color: $titulo;
  text-shadow: -1px 0px 11px rgba(0, 0, 0, 1);
  font-size: 27px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.fa-chevron-left:hover {
  color: $hover;
}

.card {
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff00 25%, #ffffff 49%, #c3c3c3 100%);
  border-radius: 30px;
  margin: 30px 0;
  &-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
  }
  &-title {
    // margin: 0px 5px 5px 5px;
    margin: 0;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    span {
      font-size: 16px;
      font-weight: 500;
      margin-left: 10px;
    }
    .gender {
      margin-left: 10px;
    }
  }
  &-isLegendary {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 4px #ffc400;
  }
  &-isMythical {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 4px #83838393;
  }
  &-isBaby {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 4px #0051ffa1;
  }
  &-core {
    margin: 10px 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: $font320;
  }
  &-types {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    &-color {
      margin: 0px 5px 10px 5px;
      border-radius: 20%;
    }
    &-text {
      margin: 0;
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      padding: 5px;
    }
  }
  &-description {
    width: 300px;
    text-align: center;
    p {
      margin: 0 20px;
    }
  }
  h4 {
    text-align: center;
    margin: 10px 0 5px;
    font-weight: 600;
  }
  &-abilities {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    text-align: center;
    p {
      margin: 2px 5px;
    }
  }
  &-stats {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto auto auto auto;
    column-gap: 14px;
    row-gap: 2px;
    font-size: $font320;
    padding: 10px 0;
    margin: 0 30px;
  }
  &-captureRate {
    text-align: center;
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #00000000, #000000bf, #00000000);
}

h3 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}
.card-evolution-a {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  row-gap: 10px;
  width: 300px;
  font-size: $font320;
  text-align: center;
  margin-bottom: 10px;
  &-2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
  }
  p {
    margin: 0;
  }
  &-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 2px 3px #00000028;
  }
  .fa-chevron-down {
    position: relative;
    top: 5px;
  }
}

.card-evolution-aa {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 20px;
  width: 300px;
  font-size: $font320;
  text-align: center;
  &-2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
  }
  p {
    margin: 0;
  }
  &-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 2px 3px #00000028;
  }
  .fa-chevron-right {
    position: relative;
    top: -42px;
    left: -44px;
  }
}

.card-evolution-b {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 14px;
  width: 300px;
  font-size: $font320;
  text-align: center;
  p {
    margin: 0;
  }
  &-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 2px 3px #00000028;
  }
  .fa-chevron-right {
    position: relative;
    top: -42px;
    left: -38px;
  }
}

@media only screen and (min-width: 576px) {
  .fa-chevron-left {
    font-size: 35px;
    top: 40px;
    left: 40px;
  }

  .card {
    width: 300px;
    &-img {
      width: 250px;
      height: 250px;
    }
    &-title {
      margin: 10px 5px 20px 5px;
      font-size: 24px;
      span {
        font-size: 21px;
      }
    }
    &-core {
      margin-bottom: 20px;
      font-size: $font576;
    }
    &-types {
      &-color {
        margin: 0px 15px 10px 15px;
      }
      &-text {
        font-size: 19px;
        padding: 10px;
      }
    }
    &-stats {
      row-gap: 5px;
      font-size: $font576;
      padding: 20px 0;
      margin: 0 30px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .fa-chevron-left {
    font-size: 45px;
    top: 55px;
    left: 55px;
  }

  .card {
    width: 350px;
    &-img {
      width: 300px;
      height: 300px;
    }
    &-title {
      margin: 15px 5px 25px 5px;
      font-size: 29px;
      span {
        font-size: 24px;
      }
    }
    &-core {
      margin-bottom: 24px;
      font-size: $font768;
    }
    &-types {
      &-color {
        margin: 0px 15px 12px 15px;
      }
      p {
        font-size: 22px;
        padding: 15px;
      }
    }
    &-stats {
      font-size: $font768;
      row-gap: 10px;
      padding: 30px 0;
      margin: 0 35px;
    }
  }
}
