<section
  class="animatedFast fadeIn"
  [ngStyle]="{ background: backgroundColor1 }"
  [ngStyle]="{ 'background-image': backgroundColor2 }"
>
  <div class="backGr">
    <div class="loading" *ngIf="loading">
      <mat-spinner
        class="loading-mat"
        strokeWidth="10"
        diameter="150"
        color="warn"
      ></mat-spinner>
    </div>
    <i class="fas fa-chevron-left" (click)="back()"></i>
    <div class="card animatedFast fadeIn" *ngIf="this.pokemonDetail">
      <img
        class="card-img"
        [src]="this.pokemonDetail.sprites.front_default"
        title="{{ this.pokemonDetail.name | titlecase }}"
        alt="{{ this.pokemonDetail.name | titlecase }}"
        appImgPreload="./assets/img/0.png"
      />
      <h2 class="card-title">
        {{ this.pokemonDetail.name | titlecase }}
        <span>N.º{{ this.pokemonDetail.id | number: "3.0" }}</span>
        <i
          *ngIf="
            this.pokemonSpecies &&
            this.pokemonSpecies.gender_rate != -1 &&
            this.pokemonSpecies.gender_rate != 8 &&
            this.pokemonSpecies.gender_rate != 0
          "
          title="Hembra/Macho"
          class="fas fa-venus-mars gender"
        ></i>
        <i
          *ngIf="this.pokemonSpecies && this.pokemonSpecies.gender_rate == 0"
          title="Macho"
          class="fas fa-mars fa-lg gender"
        ></i>
        <i
          *ngIf="this.pokemonSpecies && this.pokemonSpecies.gender_rate == 8"
          title="Hembra"
          class="fas fa-venus fa-lg gender"
        ></i>
        <i
          *ngIf="this.pokemonSpecies && this.pokemonSpecies.gender_rate == -1"
          title="Sin género"
          class="fas fa-genderless fa-lg gender"
        ></i>
      </h2>
      <p
        class="card-isLegendary"
        *ngIf="this.pokemonSpecies && this.pokemonSpecies.is_legendary == true"
      >
        Legendario
      </p>
      <p
        class="card-isMythical"
        *ngIf="this.pokemonSpecies && this.pokemonSpecies.is_mythical == true"
      >
        Místico
      </p>
      <p
        class="card-isBaby"
        *ngIf="this.pokemonSpecies && this.pokemonSpecies.is_baby == true"
      >
        Bebé
      </p>
      <div class="card-core">
        <div class="card-core-exp">
          <span>
            Exp
            <br />
            <strong>{{ this.pokemonDetail.base_experience }} </strong>
          </span>
        </div>
        <div class="card-core-height">
          <span>
            Altura
            <br />
            <strong> {{ this.pokemonDetail.height }} m </strong>
          </span>
        </div>
        <div class="card-core-weight">
          <span>
            Peso
            <br />
            <strong> {{ this.pokemonDetail.weight }} Kg </strong>
          </span>
        </div>
      </div>
      <div class="card-types">
        <div
          *ngFor="let type of this.pokemonDetail.types"
          [style.background]="getTypeColor(type.type.name)"
          class="card-types-color"
        >
          <p class="card-types-text">{{ type.type.name | titlecase }}</p>
        </div>
      </div>
      <div class="card-description" *ngIf="this.pokemonSpecies">
        <p *ngIf="pokemonDescription.length > 1">
          {{ this.pokemonDescription[0] }}
        </p>
        <p *ngIf="pokemonDescription.length < 1">
          {{ this.pokemonSpecies.flavor_text_entries[0].flavor_text }}
        </p>
      </div>
      <h3
        class="card-abilities-title"
        *ngIf="this.pokemonDetail.abilities.length > 1"
      >
        Habilidades:
      </h3>
      <h3
        class="card-abilities-title"
        *ngIf="this.pokemonDetail.abilities.length == 1"
      >
        Habilidad:
      </h3>
      <div class="card-abilities">
        <div *ngFor="let ability of this.pokemonDetail.abilities">
          <p>
            {{ ability.ability.name | titlecase }}
          </p>
        </div>
      </div>
      <hr />
      <div class="card-stats">
        <span class="card-stats-title">PS:</span>
        <span class="card-stats-n">
          <strong>
            {{ this.pokemonDetail.stats[0].base_stat }}
          </strong>
        </span>
        <span class="card-stats-title">Ataque:</span>
        <span class="card-stats-n">
          <strong>
            {{ this.pokemonDetail.stats[1].base_stat }}
          </strong>
        </span>
        <span class="card-stats-title">Defensa:</span>
        <span class="card-stats-n">
          <strong>
            {{ this.pokemonDetail.stats[2].base_stat }}
          </strong>
        </span>
        <span class="card-stats-title">At. Esp:</span>
        <span class="card-stats-n">
          <strong>
            {{ this.pokemonDetail.stats[3].base_stat }}
          </strong>
        </span>
        <span class="card-stats-title">Def. Esp:</span>
        <span class="card-stats-n">
          <strong>
            {{ this.pokemonDetail.stats[4].base_stat }}
          </strong>
        </span>
        <span class="card-stats-title">Vel:</span>
        <span class="card-stats-n">
          <strong>
            {{ this.pokemonDetail.stats[5].base_stat }}
          </strong>
        </span>
      </div>
      <p class="card-generation" *ngIf="this.pokemonSpecies">
        Generación {{ this.pokemonSpecies.generation.name | uppercase }}
      </p>
      <p class="card-captureRate" *ngIf="this.pokemonSpecies">
        Tasa de captura:
        <strong>
          {{ this.pokemonSpecies.capture_rate | number: "1.0-1" }}%
        </strong>
      </p>
      <hr />

      <ng-container *ngIf="this.evolutionChain2.length < 1; else twoEvolutions">
        <h3 class="card-evolution-title">No hay evoluciones</h3>
      </ng-container>
      <ng-template #twoEvolutions>
        <ng-container
          *ngIf="this.evolutionChain3.length < 1; else allEvolutions"
        >
          <h3 class="card-evolution-title">Evoluciones</h3>
          <ng-container
            *ngIf="this.evolutionChain2.length > 1; else twoEvolutionsSimple"
          >
            <div class="card-evolution-twoEvolutions">
              <div class="card-evolution-twoEvolutions-1">
                <div *ngFor="let pokemon of this.evolutionChain1">
                  <strong>{{ pokemon.name | titlecase }}</strong>
                  <br />
                  <span> N.º{{ pokemon.id | number: "3.0" }}</span>
                  <img
                    class="card-evolution-twoEvolutions-img"
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
                      pokemon.id
                    }}.png"
                    alt="{{ pokemon.name | titlecase }}"
                    title="{{ pokemon.name | titlecase }}"
                    appImgPreload="./assets/img/0.png"
                    (click)="onPokemon(pokemon)"
                  />
                  <i class="fas fa-chevron-down"></i>
                </div>
              </div>
              <div class="card-evolution-twoEvolutions-2">
                <div *ngFor="let pokemon of this.evolutionChain2">
                  <strong>{{ pokemon.name | titlecase }}</strong>
                  <br />
                  <p>N.º{{ pokemon.id | number: "3.0" }}</p>
                  <img
                    class="card-evolution-twoEvolutions-img"
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
                      pokemon.id
                    }}.png"
                    alt="{{ pokemon.name | titlecase }}"
                    title="{{ pokemon.name | titlecase }}"
                    appImgPreload="./assets/img/0.png"
                    (click)="onPokemon(pokemon)"
                  />
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #twoEvolutionsSimple>
            <div class="card-evolution-twoEvolutionsSimple">
              <div class="card-evolution-twoEvolutionsSimple-1">
                <div *ngFor="let pokemon of this.evolutionChain1">
                  <strong>{{ pokemon.name | titlecase }}</strong>
                  <br />
                  <span> N.º{{ pokemon.id | number: "3.0" }}</span>
                  <img
                    class="card-evolution-twoEvolutionsSimple-img"
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
                      pokemon.id
                    }}.png"
                    alt="{{ pokemon.name | titlecase }}"
                    title="{{ pokemon.name | titlecase }}"
                    appImgPreload="./assets/img/0.png"
                    (click)="onPokemon(pokemon)"
                  />
                </div>
              </div>
              <div class="card-evolution-twoEvolutionsSimple-2">
                <div *ngFor="let pokemon of this.evolutionChain2">
                  <strong>{{ pokemon.name | titlecase }}</strong>
                  <br />
                  <p>N.º{{ pokemon.id | number: "3.0" }}</p>
                  <img
                    class="card-evolution-twoEvolutionsSimple-img"
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
                      pokemon.id
                    }}.png"
                    alt="{{ pokemon.name | titlecase }}"
                    title="{{ pokemon.name | titlecase }}"
                    appImgPreload="./assets/img/0.png"
                    (click)="onPokemon(pokemon)"
                  />
                  <i class="fas fa-chevron-right"></i>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </ng-template>
      <ng-template #allEvolutions>
        <h3 class="card-evolution-title">Evoluciones</h3>
        <div class="card-evolution-allEvolutions">
          <div class="card-evolution-allEvolutions-1">
            <div *ngFor="let pokemon of this.evolutionChain1">
              <strong>{{ pokemon.name | titlecase }}</strong>
              <br />
              <p>N.º{{ pokemon.id | number: "3.0" }}</p>
              <img
                class="card-evolution-allEvolutions-img"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
                  pokemon.id
                }}.png"
                alt="{{ pokemon.name | titlecase }}"
                title="{{ pokemon.name | titlecase }}"
                appImgPreload="./assets/img/0.png"
                (click)="onPokemon(pokemon)"
              />
            </div>
          </div>
          <div class="card-evolution-allEvolutions-2">
            <div *ngFor="let pokemon of this.evolutionChain2">
              <strong>{{ pokemon.name | titlecase }}</strong>
              <br />
              <p>N.º{{ pokemon.id | number: "3.0" }}</p>
              <img
                class="card-evolution-allEvolutions-img"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
                  pokemon.id
                }}.png"
                alt="{{ pokemon.name | titlecase }}"
                title="{{ pokemon.name | titlecase }}"
                appImgPreload="./assets/img/0.png"
                (click)="onPokemon(pokemon)"
              />
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="card-evolution-allEvolutions-3">
            <div *ngFor="let pokemon of this.evolutionChain3">
              <strong>{{ pokemon.name | titlecase }}</strong>
              <br />
              <p>N.º{{ pokemon.id | number: "3.0" }}</p>
              <img
                class="card-evolution-allEvolutions-img"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
                  pokemon.id
                }}.png"
                alt="{{ pokemon.name | titlecase }}"
                title="{{ pokemon.name | titlecase }}"
                appImgPreload="./assets/img/0.png"
                (click)="onPokemon(pokemon)"
              />
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</section>
