<section
  class="animatedFast fadeIn"
  [ngStyle]="{ background: backgroundColor1 }"
  [ngStyle]="{ 'background-image': backgroundColor2 }"
>
  <div class="backGr">
    <mat-spinner
      *ngIf="loading"
      class="loading"
      strokeWidth="10"
      diameter="150"
      color="warn"
    ></mat-spinner>
    <i class="fas fa-chevron-left" (click)="back()"></i>
    <div class="card animatedFast fadeIn" *ngIf="this.pokemonDetail">
      <img
        class="card-img"
        [src]="this.pokemonDetail.sprites.front_default"
        alt="{{ this.pokemonDetail.name }}"
        appImgPreload="./assets/img/0.png"
      />
      <h2 class="card-title">
        {{ this.pokemonDetail.name | titlecase }}
        <span>N.º{{ this.pokemonDetail.id | number: "3.0" }}</span>
      </h2>
      <div class="card-core">
        <div class="card-core-exp">
          <span>
            Exp
            <br />
            <strong>{{ this.pokemonDetail.base_experience }} </strong>
          </span>
        </div>
        <div class="card-core-height">
          <span>
            Altura
            <br />
            <strong> {{ this.pokemonDetail.height }} m </strong>
          </span>
        </div>
        <div class="card-core-weight">
          <span>
            Peso
            <br />
            <strong> {{ this.pokemonDetail.weight }} Kg </strong>
          </span>
        </div>
      </div>
      <div class="card-types">
        <div
          *ngFor="let type of this.pokemonDetail.types"
          [style.background]="getTypeColor(type.type.name)"
          class="card-types-color"
        >
          <p class="card-types-text">{{ type.type.name | titlecase }}</p>
        </div>
      </div>
      <div class="card-stats">
        <span class="card-stats-title">PS:</span>
        <span class="card-stats-n">
          <strong>
            {{ this.pokemonDetail.stats[0].base_stat }}
          </strong>
        </span>
        <span class="card-stats-title">Ataque:</span>
        <span class="card-stats-n">
          <strong>
            {{ this.pokemonDetail.stats[1].base_stat }}
          </strong>
        </span>
        <span class="card-stats-title">Defensa:</span>
        <span class="card-stats-n">
          <strong>
            {{ this.pokemonDetail.stats[2].base_stat }}
          </strong>
        </span>
        <span class="card-stats-title">At. Esp:</span>
        <span class="card-stats-n">
          <strong>
            {{ this.pokemonDetail.stats[3].base_stat }}
          </strong>
        </span>
        <span class="card-stats-title">Def. Esp:</span>
        <span class="card-stats-n">
          <strong>
            {{ this.pokemonDetail.stats[4].base_stat }}
          </strong>
        </span>
        <span class="card-stats-title">Vel:</span>
        <span class="card-stats-n">
          <strong>
            {{ this.pokemonDetail.stats[5].base_stat }}
          </strong>
        </span>
      </div>
    </div>
  </div>
</section>
