.about {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background-color: var(--background);
}

h2 {
  color: var(--text);
  font-size: 1.5rem;
  text-align: center;
  margin: 1.25rem 0 0.625rem 0;
}

.containerText {
  margin: 10px 25px 35px;
  line-height: 1.6;
}

p {
  color: var(--text);
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

a:link {
  color: var(--link);
  text-decoration: none;
}

a:visited {
  color: #9a5dfc;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--link);
}

@media only screen and (min-width: 576px) {
  .containerText {
    margin: 10px 45px 35px;
  }
}

@media only screen and (min-width: 768px) {
  .containerText {
    margin: 10px 70px 35px;
  }
}

@media only screen and (min-width: 992px) {
  .containerText {
    margin: 10px 125px 35px;
  }
}

@media only screen and (min-width: 1360px) {
  app-navbar {
    padding: 0 56px;
    background-color: var(--primary);
  }
  .containerText {
    margin: 10px 280px 35px;
  }
}

@media only screen and (min-width: 1900px) {
  app-navbar {
    padding: 0 120px;
  }
  .containerText {
    margin: 10px 430px 35px;
  }
}
