<section class="section animatedFast fadeIn">
  <h2>Información del sitio</h2>
  <div class="containerText">
    <p>
      Un sitio de
      <a href="https://github.com/swtnicolas/pokedex" target="_blank"
        >código abierto</a
      >
      creado por
      <br />
      <a href="https://swtnicolas.github.io/" target="_blank"
        >Nicolás Rodríguez Salazar</a
      >
      con fines de aprendizaje personal.
      <br />
      Todos los datos relacionados con Pokémon fueron obtenidos del servicio de
      la
      <a href="https://pokeapi.co/" target="_blank">PokéApi</a>, por ello no
      todos los datos están en español.
      <br />
      <br />
      Nuevos Pokémones serán agregados de forma automática, si llegasen a estar
      disponibles en el servicio
      <br />
      <br />
      Información disponible de cada Pokémon:
      <br />
      Estadísticas base, tipos elementales, géneros de la especie, descripción,
      habilidades, generación a la que pertenecen, tasa de captura, información
      en caso de ser bebé, mítico o legendario, y el árbol evolutivo de la
      especie.
    </p>
  </div>
</section>
