<section class="animatedFast fadeIn">
  <form (keydown.enter)="$event.preventDefault()">
    <input
      type="text"
      name="search"
      placeholder="Buscar Nombre/ID"
      (keyup.enter)="
        searchPokemon(searchText.value); trigger.closePanel(); resetpage()
      "
      (keyup)="autocomplete(searchText.value)"
      #searchText
      autocomplete="off"
      [formControl]="control"
      [matAutocomplete]="auto"
      #trigger="matAutocompleteTrigger"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let pokemon of filteredPokemons | async | slice: 0:25"
        [value]="pokemon"
        (click)="searchPokemon(searchText.value); resetpage()"
      >
        <span [innerHTML]="pokemon | highlight: toHighlight"></span>
      </mat-option>
    </mat-autocomplete>
    <i
      class="fas fa-backspace"
      *ngIf="this.inputKey.length !== 0"
      (click)="searchPokemon((searchText.value = '')); resetpage()"
    ></i>
    <i
      class="fas fa-search"
      (click)="searchPokemon(searchText.value); resetpage()"
    >
    </i>
  </form>
  <div class="bgLoading" *ngIf="loading">
    <mat-spinner
      *ngIf="this.error.status === false"
      strokeWidth="10"
      diameter="150"
      color="warn"
    ></mat-spinner>
    <div *ngIf="this.error.status === true">
      <p class="bgLoading-text">{{ this.error.message }}</p>
    </div>
  </div>
  <ng-container
    *ngIf="this.inputKey.length !== 0; then searchList; else allList"
  >
  </ng-container>
  <!-- ------------------------ - ------------------------ -->
  <ng-template #allList>
    <app-list
      [pokemons]="this.pokemons"
      [lowValue]="lowValue1"
      [highValue]="highValue1"
      (id)="onPokemon($event)"
    ></app-list>
    <div class="paginator animatedFast fadeIn">
      <mat-paginator
        color="warn"
        [length]="totalPokemons"
        [pageIndex]="pageIndex1"
        [pageSize]="pageSize1"
        (page)="getPaginatorData($event)"
        [pageSizeOptions]="pageSizeOptions1"
        [showFirstLastButtons]="true"
      >
      </mat-paginator>
    </div>
  </ng-template>
  <!-- ------------------------ - ------------------------ -->
  <ng-template #searchList>
    <div class="nopokemon animatedFast fadeIn" *ngIf="pokemons2.length === 0">
      <p>
        No se han encontrado resultados para tu búsqueda:
        <br />
        <strong>{{ this.inputKey }}</strong>
      </p>
    </div>
    <div class="yespokemon animatedFast fadeIn" *ngIf="pokemons2.length === 1">
      <p>
        Se encontró <strong>{{ this.pokemons2.length }}</strong> resultado para
        tu búsqueda:
        <br />
        <strong>{{ this.inputKey }}</strong>
      </p>
    </div>
    <div class="yespokemon animatedFast fadeIn" *ngIf="pokemons2.length > 1">
      <p>
        Se encontraron <strong>{{ this.pokemons2.length }}</strong> resultados
        para tu búsqueda:
        <br />
        <strong>{{ this.inputKey }}</strong>
      </p>
    </div>
    <app-list
      [pokemons]="this.pokemons2"
      [lowValue]="lowValue2"
      [highValue]="highValue2"
      (id)="onPokemon($event)"
    ></app-list>
    <div class="paginator animatedFast fadeIn">
      <mat-paginator
        color="warn"
        [length]="this.pokemons2.length"
        [pageIndex]="pageIndex2"
        [pageSize]="pageSize2"
        (page)="getPaginatorData($event)"
        [pageSizeOptions]="pageSizeOptions2"
        [showFirstLastButtons]="true"
      >
      </mat-paginator>
    </div>
  </ng-template>
</section>
