@import "~normalize.css";
@import "/src/app/styles/colors";
@import "/src/app/styles/theme";

@font-face {
  font-family: Pocket-Monk;
  src: url("^./assets/fonts/Pocket-Monk.otf");
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.animatedFast {
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

// Angular Material
.mat-paginator {
  color: var(--text) !important;
  background-color: var(--background) !important;
  font-size: 13px;
  &-page-size-select {
    margin: 0px 4px 0px 4px !important;
  }
  &-range-label {
    margin: 0 12px 0 8px !important;
  }
  &-icon {
    width: 35px !important;
  }
}

.mat-icon-button {
  width: 45px !important;
  &:hover {
    color: var(--paginator);
  }
}

// Autocompletar/Paginador
.mat-option {
  color: var(--text);
  background-color: var(--background-material-dropdown);
  // Item por pagina seleccionado (lista desplegada)
  &.mat-selected:not(.mat-option-disabled) {
    color: var(--paginator);
    font-weight: 500;
  }
}

.mat-autocomplete-panel {
  background-color: var(--background-material-dropdown-hover);
}

.mat-select {
  // hover lista de items por página
  &-panel {
    background: var(--background-material-dropdown-hover);
  }
  // texto item por pagina seleccionado (sin desplegar)
  &-value {
    color: var(--text);
  }
  // flecha desplegar lista de items
  &-arrow {
    color: var(--text);
  }
}

.mat-form {
  // linea baja lista desplegable de items por página
  &-field-appearance-legacy .mat-form-field-underline {
    background-color: var(--text);
  }
  // flecha focus
  &-field.mat-focused.mat-warn .mat-select-arrow {
    color: var(--paginator);
  }
  // linea baja focus
  &-field.mat-focused .mat-form-field-ripple.mat-warn {
    background-color: var(--paginator);
  }
}

// botones desactivados
.mat-button.mat-primary.mat-button-disabled,
.mat-button.mat-accent.mat-button-disabled,
.mat-button.mat-warn.mat-button-disabled,
.mat-button.mat-button-disabled.mat-button-disabled,
.mat-icon-button.mat-primary.mat-button-disabled,
.mat-icon-button.mat-accent.mat-button-disabled,
.mat-icon-button.mat-warn.mat-button-disabled,
.mat-icon-button.mat-button-disabled.mat-button-disabled,
.mat-stroked-button.mat-primary.mat-button-disabled,
.mat-stroked-button.mat-accent.mat-button-disabled,
.mat-stroked-button.mat-warn.mat-button-disabled,
.mat-stroked-button.mat-button-disabled.mat-button-disabled {
  color: var(--paginator-button-disable);
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }

  .mat-paginator-page-size-select {
    margin: 0px 4px 0px 4px !important;
  }
  .mat-paginator-range-label {
    margin: 0 12px 0 8px !important;
  }

  .mat-paginator-icon {
    width: 35px !important;
  }

  .mat-icon-button {
    width: 45px !important;
  }

  .mat-paginator,
  .mat-paginator-page-size .mat-select-trigger {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1360px) {
  app-header {
    padding: 0 10px;
    background-color: var(--primary);
  }
  app-footer {
    padding: 0 10px;
    background-color: var(--primary);
  }
}

@media only screen and (min-width: 1900px) {
  app-header {
    padding: 0 120px;
    background-color: var(--primary);
  }
  app-footer {
    padding: 0 120px;
    background-color: var(--primary);
  }
}
