<article class="all">
  <div
    class="cards animatedFast fadeIn"
    *ngFor="let pokemon of pokemons | slice: lowValue:highValue"
  >
    <p class="cards-name" (click)="onPokemon(pokemon.id)">
      {{ pokemon.name | titlecase }}
    </p>
    <p class="cards-id" (click)="onPokemon(pokemon.id)">
      N.º{{ pokemon.id | number: "3.0" }}
    </p>
    <img
      class="cards-img"
      [src]="pokemon.img"
      title="{{ pokemon.name | titlecase }}"
      appImgPreload="./assets/img/0.png"
      (click)="onPokemon(pokemon.id)"
    />
  </div>
</article>
